*
body {
    margin: 0;
}
.topnav {
    overflow: hidden;
    background-color: white;
}
.topnav button {
    float: right;
    display: block;
    color: black;
    padding: 14px 16px;
    font-size: 17px;

}
header {
    background-color: cornsilk;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: crimson;
}
nav ul {
    float: left;
    width: 10%;
    height: 400px;
    background-color: #ccc;
    padding: 2px;
    text-align: center;
}
footer {
    text-align: center;
    background-color: silver;
    padding: 2px;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
